@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@font-face {
    font-family: 'castlevania';
    src: url(../fonts/SymphonyoftheNightfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte2);
    box-sizing: border-box;
    color: white;
}

:root {
    --fonte1: 'Fondamento', serif;
    --fonte2: 'castlevania', serif;
    --cor1: #BF0413;
    --cor2: #FEE8DA;
    --cor3: #23236e;
    --cor4: #020225;
}

body {
    height: 100vh;
    width: 96vw;
    background-color: yellow;
    overflow-x: auto;
    
}

body {
    background: url(../imagens/background.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.sub-titulo {
    font-family: var(--fonte1);
    color: #BF0413;
    font-size: 1.2em;
}

/*-----HEADER-----*/
.header-mobile {
    height: 200px;
    width: 96vw;
    border: 1px solid #FEE8DA;
    margin: 10px auto;
    background: linear-gradient(to bottom, #23236ee5, #020225ea);
}

.header-mobile h1 {
    font-family: var(--fonte1);
    text-align: center;
    color: #BF0413;
    margin: 20px auto;
    font-size: 2.5em;
}

nav {
    display: flex;
    align-items: flex-end;
    height: calc(100% - 95px);
}

nav a {
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    flex: 1;
    margin: 10px 5px;
    text-align: center;
    padding: 5px 0;
}

nav > a:hover {
    background-color: #BF0413;
}



/*-----MAIN-----*/
main {
    background: linear-gradient(to bottom, #23236e, #020225);
    width: 80vw;
    margin: 10px auto;
    border: 1px solid #FEE8DA;
    padding: 10px;
}

main > h1 {
    font-family: var(--fonte1);
    text-align: center;
    color: #BF0413;
    margin: 10px 0;
    font-size: 2.5em;
}

main > p {
    font-size: 1.3em;
    line-height: 1.5em;
    margin-top: 10px;
}

.img-float-left {
    float: left;
    width: 90px;
    height: 100px;
}

iframe {
    max-width: 100%;
}

main > div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/*-----FOOTER-----*/
footer {
    display: flex;
    width: 200px;
    background-color: var(--cor2);
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px 20px 0 0;
    align-items: center;
    justify-content: center;
}

footer > p {
    color: black;
    padding: 10px;
}

footer img {
    width: 20px;
    height: 20px;
}